[submodule "dep/cJSON"]
	path = dep/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "dep/logc"]
	path = dep/logc
	url = https://github.com/rxi/log.c.git
[submodule "dep/jemalloc"]
	path = dep/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "dep/xxHash"]
	path = dep/xxHash
	url = https://github.com/Cyan4973/xxHash
[submodule "dep/zlib"]
	path = dep/zlib
	url = https://github.com/madler/zlib
